.todo-add{
    border: 1px solid var(--add-bg-border);
    background-color: var(--add-bg);
    display: flex;
    justify-content: space-between;
    
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 20px;
}


.input-div{
    border: 1px solid var(--add-bg-border);
    padding: 10px;
}
.row-one{
    margin-bottom: 15px;
}
.task-name{
    width: 300px;
    outline: none;
    border:1px solid var(--add-bg);
    border-bottom: 1px solid var(--add-bg-border);
    background: none;
    padding: 5px;
    font-size: 1.3rem;
    font-style: italic;
}
.row-two{
    display: flex;
    column-gap: 30px;
}
input[type="date"]{
    font-size: 1rem;
    padding: 5px;
}
select{
    font-size: 1rem;
    padding: 5px;
}

/* submit button */

.submit-div{
    border: 1px solid var(--add-bg-border);
    width: 200px;
    height: 70px;
    align-self: center;
    margin-left: 10px;


}
.submit-div button{
    background-color: var(--btn);
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    cursor: pointer;
}
.submit-div button img{
    width: 40px;
    height: 40px;
}
.submit-div button span{
    color: var(--text-l);
    position: relative;
    bottom: 10px;
    font-weight: 800;
}



@media all and (max-width:900px){
    .todo-add{
        flex-direction: column;
    }
    .row-one{
        overflow: hidden;
    }
    .row-two{
        flex-direction: column;
        row-gap: 10px;
    }
    .submit-div{
        margin: 10px auto;
        
    }
}
